<section>
  <div>
    <h1>{{show.name}}</h1>
    <img src="{{show.img}}" alt="{{show.name}}">
    <dl> 
      <dt>Language</dt>
      <dd>{{show.language}}</dd> 
      <dt>Genres</dt> 
      <dd> 
        <ul>
          {{#each show.genres}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </dd> 
      <dt>Average Rating</dt> 
      <dd>{{show.rating}}</dd> 
      <dt>Network</dt> 
      <dd>{{show.network}}</dd> 
      <dt>Summary</dt> 
      <dd>{{{show.summary}}}</dd> 
    </dl> 
  </div>
</section>